{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
<ul class="nav navbar-nav">
	<li><a href="{% url 'ozio:home' %}">OZIO</a></li>
	<li><a href="{% url 'ozio:transaction' %}">TRANSACTION</a></li>
	<li><a href="{% url 'ozio:config' %}">CONFIG</a></li>
	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="about_us">TEST<span class="caret"></span></a>
		<ul class="dropdown-menu" aria-labelledby="about_us">
			<li><a href="{% url 'ozio:test' %}">TEST1</a></li>
			<li class="divider"></li>
			<li><a href="#">TEST2</a></li>
		</ul>
	</li>
</ul>
{% endblock %}

<!--------------------- BLOCK content1 --------------------->
{% block content1 %}
<!-------- BLOCK content1 LEFT COL-LG-6 -------->
<div class="col-lg-6">

	<!----------- MESSAGES ----------->
	<!-- csv import msg -->
	{% if messages %}
		{% for msg in messages %}
		<div class="alert alert-dismissable alert-{{msg.tags}}">
		  <button type="button" class="close" data-dismiss="alert">×</button>
		  {{ msg }}
		</div>
		{% endfor %}
	{% endif %}
	
	<!-- add tran msg -->
	<div id="ozio_home_add_tran_message" class="alert alert-dismissable alert-success" style="display:none">
		  <button type="button" class="close" data-dismiss="alert">×</button>
		  <p id="ozio_home_add_tran_message_text">PLACE HOLDER</p>
	</div>
	<!----------- /MESSAGE ----------->

	<!-- 
	<h1>OZIO</h1>  
	<p class="lead">Ed & Co's Money Managing App</p> 
	-->
	<!----------- CHART ----------->
	<div id="bar_chart_container" style="min-width: 300px; height: 300px; margin: 0 auto"></div>
	<div id="mix_chart_container" style="min-width: 300px; height: 300px; margin: 0 auto"></div>
	<!----------- /CHART ----------->
</div>
<!-------- /BLOCK content1 LEFT COL-LG-6 -------->

<!-------- BLOCK content1 RIGHT COL-LG-4 -------->
<div class="col-lg-4 pull-right">
	<div class="list-group">
		<a class="list-group-item active"> Functionalities</a>
		<a href="#" class="list-group-item" id="add_new_transaction">New Transaction (Manual)</a>
		<a href="#" class="list-group-item" id="import_cba_csv">Import CommBank CSV</a>
		<a href="{% url 'ozio:transaction' %}" class="list-group-item" id="transactions">Transactions<span class="badge">{{span_tran_num}}</span><span class="badge">{{outstanding_tran_num}}</span></a>
		<a href="{% url 'ozio:config' %}" class="list-group-item" id="configurations">Configurations</a>
	</div>
</div>
<!-------- /BLOCK content1 RIGHT COL-LG-4 -------->
{% endblock %}
<!--------------------- /BLOCK content1 --------------------->

<!--------------------- BLOCK content2 --------------------->
{% block content2 %}
{% endblock %}
<!--------------------- /BLOCK content2 --------------------->

<!--------------------- BLOCK head_js --------------------->
{% block head_js %}
<link rel="stylesheet" href="{% static 'ozio/css/custom_dialog.css' %}">
{% endblock %}
<!--------------------- /BLOCK head_js --------------------->

<!--------------------- BLOCK body_js --------------------->
{% block body_js %}
<script src="{% static 'ozio/js/ozio_dialog_import_csv.js' %}"></script>
<script src="{% static 'ozio/js/ozio_dialog_transaction_breakdown.js' %}"></script>
<script src="{% static 'ozio/js/ozio_dialog_add_transaction.js' %}"></script>

<!-- ---------------- CHART ---------------- -->
<script src="{% static 'js/highcharts.js' %}"></script>
<script src="{% static 'js/modules/exporting.js' %}"></script>
<script src="{% static 'js/modules/data.js' %}"></script>
<script src="{% static 'js/modules/drilldown.js' %}"></script>

<!-- ------- bar chart -------- -->
<script> var json_bar_chart_monthlyView = {{ json_bar_chart_monthlyView | safe }} </script>
<script> var json_bar_chart_monthlyDrilldown = {{ json_bar_chart_monthlyDrilldown | safe }} </script>
<script> var json_bar_chart_monthlySubCateDrilldown = {{ json_bar_chart_monthlySubCateDrilldown | safe }} </script>
<script type="text/javascript" src="{% static 'ozio/js/bar_chart.js' %}"></script>
<!-- ------- /bar chart -------- -->

<!-- ------- mix chart -------- -->
<script> var json_mix_chart_data = {{ json_mix_chart_data | safe }} </script>
<script type="text/javascript" src="{% static 'ozio/js/mix_chart.js' %}"></script>
<!-- ------- /mix chart -------- -->
<!-- ---------------- /CHART ---------------- -->
{% endblock %}
<!--------------------- /BLOCK body_js --------------------->

<!--------------------- BLOCK content_raw --------------------->
{% block content_raw %}
{% include "ozio/ozio_dialog_import_csv.html" %}
{% include "ozio/ozio_dialog_add_transaction.html" %}
<div id="transaction_breakdown_dialog"></div>
{% endblock %}
<!--------------------- /BLOCK content_raw --------------------->