<div id="configs_dialog">
	<div class="bs-component">
		<!-- ----------- TABS ------------- -->
		<ul id = "config_tabs" class="nav nav-tabs" style="margin-bottom: 15px;">
			<!-- tabs built by ozio_dialog_config.js -->
		</ul>
		<!-- ----------- /TABS ------------- -->
		
		<!-- ----------- TABS CONTENT ------------- -->
		<div id="config_tabs_content" class="tab-content">
			<!-- tabs content built by ozio_dialog_config.js -->
		</div>
		<!-- ----------- /TABS CONTENT ------------- -->
		<div id="source-button" class="btn btn-primary btn-xs"
			style="display: none;">&lt; &gt;</div>
	</div>
</div>