{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
<ul class="nav navbar-nav">
	<li><a href="{% url 'ozio:home' %}">OZIO</a></li>
	<li><a href="{% url 'ozio:transaction' %}">TRANSACTION</a></li>
	<li><a href="{% url 'ozio:config' %}">CONFIG</a></li>
</ul>
{% endblock %}

<!--------------------- BLOCK content1 --------------------->
{% block content1 %}
<div class="col-lg-6">
	<h1>OZIO</h1>  
	<p class="lead">Ed & Co's Money Managing App</p>
</div> 
{% endblock %}

<!--------------------- BLOCK content2 --------------------->
{% block content2 %}
{% endblock %}
<!--------------------- /BLOCK content2 --------------------->


<!--------------------- BLOCK head_js --------------------->
{% block head_js %}
{% endblock %}
<!--------------------- /BLOCK head_js --------------------->


<!--------------------- BLOCK body_js --------------------->
{% block body_js %}
{% endblock %}
<!--------------------- /BLOCK body_js --------------------->


<!--------------------- BLOCK content_raw --------------------->
{% block content_raw %}
{% endblock %}
<!--------------------- /BLOCK content_raw --------------------->