<div id="configs_dialog">
	<div class="bs-component">
		<ul class="nav nav-tabs" style="margin-bottom: 15px;">
			<li class="active"><a href="#types" data-toggle="tab">Types</a></li>
			<li class=""><a href="#categories" data-toggle="tab">Categories</a></li>
			<li class=""><a href="#keywords" data-toggle="tab">Mappings</a></li>
			<li class=""><a href="#filters" data-toggle="tab">Filters</a></li>
			<li class="disabled"><a>Disables</a></li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"> Dropdown <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#dropdown1" data-toggle="tab">ActionC</a></li>
					<li class="divider"></li>
					<li><a href="#dropdown2" data-toggle="tab">ActionD</a></li>
				</ul>
			</li>
		</ul>
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade active in" id="types">
				<div id="transactions_dialog">
					<div class="ed-scrollable-y400">
						<table class="table table-striped table-hover">
							<thead>
								<tr class="success">
									<th>Type</th>
									<th>Span</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
							{% for t in types %}
								<tr>
									<td>{{ t.type }}</td>
									<td>{{ t.span_days }}</td>
									<td>{{ t.description }}</td>
								</tr>
							</tbody>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="categories">
				<p>B</p>
			</div>
			<div class="tab-pane fade" id="keywords">
				<div id="transactions_dialog">
					<div class="ed-scrollable-y400">
						<table class="table table-striped table-hover">
							<thead>
								<tr class="success">
									<th>Keyword</th>
									<th>Type</th>
									<th>Category</th>
									<th>Sub Category</th>
									<th>Priority</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
							{% for k in keywords %}
								<tr>
									<td>{{ k.keyword }}</td>
									<td>{{ k.type }}</td>
									<td>{{ k.cate }}</td>
									<td>{{ k.subcate }}</td>
									<td>{{ k.priority }}</td>
									<td>{{ k.description }}</td>
								</tr>
							</tbody>
							{% endfor %}
						</table>
					</div>
				</div>
			</div> <!-- /KEYWORD -->
			<div class="tab-pane fade" id="filters">
				<p>E</p>
			</div>
			<div class="tab-pane fade" id="dropdown1">
				<p>C</p>
			</div>
			<div class="tab-pane fade" id="dropdown2">
				<p>D</p>
			</div>
		</div>
		<div id="source-button" class="btn btn-primary btn-xs"
			style="display: none;">&lt; &gt;</div>
	</div>
</div>